.JBbIOml {
    padding: 50px var(--side-pad);
}
.kkzduM {
    margin-bottom: 0px;
    background: linear-gradient(rgb(32, 5, 60) 38.12%, rgba(24, 2, 47, 0) 80.43%);
    padding: 3.5em 5em 56px;
    border-radius: 24px;
}

.kkzduM section {
    display: flex;
    min-height: 2px;
    align-items: flex-end;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kkzduM section .text {
    width: 50%;
}
.kkzduM section h1 {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(214, 217, 59) 35.29%, rgb(255, 255, 255) 78.31%);
    color: transparent;
    /* background-size: 100% 600%; */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    line-height: 150%;
    font-family: Oswald;
    font-weight: 500;
}

.kkzduM .text p {
    font-size: 18px;
    margin-top: 1.5rem;
    color: var(--white);
    line-height: 250%;
}

.daNnij {
    margin-left: 2rem;
}

.kLb09hB {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.kkzduM div.hor-line {
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    margin-top: 5em;
}

/* Socials */
.gjakmO {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    margin: 2rem 0;
    align-items: center;
}

.gjakmO .socials {
    display: flex;
    gap: 20px;
}

.footer-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gjakmO  p {
    font-size: 16px;
    font-weight: 500;
    color: #777;
}


